/* PianoDarkTheme */

.PianoDarkTheme .ReactPiano__Key--accidental {
    background: #101010;
    border: 1px solid #888;
  }
  .PianoDarkTheme .ReactPiano__Key--natural {
    background: #FFFFFF;
    border: 2px solid #101010;
    margin-right: 0;
  }
  .PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
    background: #0396ca;
  }
  .PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
    background: #0396ca;
  }
  